---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.053'
      X-Auth0-Requestid:
      - 79093a0f982f9ff27940
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186431'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"playlist1"}},"startedAt":"2025-11-15T06:00:29Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 41cf60cb938cc01ac7176a2f31e5df08/b07b843726f113f4;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:30Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:30Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:29.000000Z"},"id":"c0a5c8a9-4fae-4ee7-a07b-05d4bb791307","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/c0a5c8a9-4fae-4ee7-a07b-05d4bb791307"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:30 GMT
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists
    body:
      encoding: UTF-8
      string: '{"data":{"type":"playlists","attributes":{"metadata":{},"videos":["c0a5c8a9-4fae-4ee7-a07b-05d4bb791307"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 809b8f8f2411bb6452a1a9cdf2b15829/24c40e0f00beae07;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:30.384525Z","labels":{},"modifiedAt":"2025-11-15T06:00:30.384525Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/2763944a-1720-4933-b3f3-70cb5d6c1c51.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/2763944a-1720-4933-b3f3-70cb5d6c1c51.m3u8"},"version":1763186430383,"videos":["c0a5c8a9-4fae-4ee7-a07b-05d4bb791307"]},"id":"2763944a-1720-4933-b3f3-70cb5d6c1c51","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:30 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists/2763944a-1720-4933-b3f3-70cb5d6c1c51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 4defa375a4ffb50c1bb8f4a5deaa92fd/ab8887daee8e9562;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:30.384525Z","labels":{},"modifiedAt":"2025-11-15T06:00:30.384525Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/2763944a-1720-4933-b3f3-70cb5d6c1c51.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/2763944a-1720-4933-b3f3-70cb5d6c1c51.m3u8"},"version":1763186430383,"videos":["c0a5c8a9-4fae-4ee7-a07b-05d4bb791307"]},"id":"2763944a-1720-4933-b3f3-70cb5d6c1c51","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:30 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/c0a5c8a9-4fae-4ee7-a07b-05d4bb791307
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 203a911ebf15716c992b1725ce8daaa4/108bea85dd11e6a2;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:30Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:30Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:29.000000Z"},"id":"c0a5c8a9-4fae-4ee7-a07b-05d4bb791307","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/c0a5c8a9-4fae-4ee7-a07b-05d4bb791307"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:30 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/5c96ec0e-29f3-4949-804d-6a701afd8664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 392e6d3ee0a54351fd14f40cbcc639a1/3b4d2869e450ca54;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:31Z","labels":{"test":"playlist2"},"modifiedAt":"2025-11-15T06:00:31Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:30.000000Z"},"id":"5c96ec0e-29f3-4949-804d-6a701afd8664","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/5c96ec0e-29f3-4949-804d-6a701afd8664"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:31 GMT
recorded_with: VCR 6.3.1
