---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.049'
      X-Auth0-Requestid:
      - c4d8a3335ed7d64f7c78
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186462'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"startedAt":"2025-01-15T10:00:00Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 26f48dff46d4870774dc9202878aedad/258801de49a43098;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:02Z","labels":{},"modifiedAt":"2025-11-15T06:01:02Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"909f4e4c-7354-42a3-abf8-f12631657a4c","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/909f4e4c-7354-42a3-abf8-f12631657a4c"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:02 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/909f4e4c-7354-42a3-abf8-f12631657a4c/upload-urls/test-video.mp4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - c2db6db08f49fe9fc53b5078c1afc191/2e2482298d89becc;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"expiresAt":"2025-11-15T07:01:02.305088Z","headers":{"content-type":"video/mp4", "x-goog-acl":"public-read"},"httpMethod":"PUT","url":"https://storage.googleapis.com/fantag-hz4yh8n9/storage/us/zach-staging/909f4e4c-7354-42a3-abf8-f12631657a4c/source.mp4?Expires=1763190062&GoogleAccessId=pug-sa-staging%40fantag-c0979.iam.gserviceaccount.com&Signature=JFbZ5Uc6yfdGkwv8k%2BuSESGZDi8vWbZCR%2FKPmgwJvoU9KvPSb%2BG8e3rwtbkp1RY3MOqB2KWRLrj7wptJo5T%2FAToG%2BO53FjJCGRhBEdTEaujQ7%2FWjc%2BpR6w8hBSEtGB8TUMCuLJiycKgjnhBZcYQ7YCWXu4OECNztBA%2BD0FvAEcVweIeq5sAkwKp0tAZu02186VKfzMGClptQCfyji7r8h8TDG1phVddrsfARVAYPLB5cb6%2F20Bh0CXYWUjZYjeg3VJKJJCX0jztF%2FV6uqu4Zzi9pWvcOVTRWYTnbZGDfxJkO%2F5nzgPxUtLXDY1wlYZsgLUgyjZdWhtljCiMkXduJuA%3D%3D"},"id":"","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/909f4e4c-7354-42a3-abf8-f12631657a4c/upload-urls/test-video.mp4"},"type":"uploadUrls"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:02 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/909f4e4c-7354-42a3-abf8-f12631657a4c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 31b211116a3590040ee79584bda6862f/3f8e157a0f770a26;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:02Z","labels":{},"modifiedAt":"2025-11-15T06:01:02Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"909f4e4c-7354-42a3-abf8-f12631657a4c","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/909f4e4c-7354-42a3-abf8-f12631657a4c"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:02 GMT
recorded_with: VCR 6.3.1
