---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.048'
      X-Auth0-Requestid:
      - 35c9df784a9e55d16342
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186418'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces?page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - c2e1ac89f510c0dd7e679b47522a3779/16d57a8807bbce65;o=0
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"metadata":{"annotations":{},"createdAt":"2022-03-01T16:29:01Z","labels":{},"modifiedAt":"2022-03-01T16:29:01Z","name":null}},"id":"alian","links":{"self":"https://staging-api.video.scorevision.com/namespaces/alian"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2022-02-23T15:22:42Z","labels":{"sv-org-id":"485","sv-real-customer":"true"},"modifiedAt":"2022-02-23T15:22:42Z","name":"San
        Diego Strike Force"}},"id":"EVAL_a1e20159-b146-4f78-9ff9-70b7cf12bcef","links":{"self":"https://staging-api.video.scorevision.com/namespaces/EVAL_a1e20159-b146-4f78-9ff9-70b7cf12bcef"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2022-02-10T20:48:24Z","labels":{"sv-org-id":"647","sv-real-customer":"true"},"modifiedAt":"2022-02-10T20:48:24Z","name":"Strake
        Jesuit Group"}},"id":"DEVELOPMENT_078[...]
