---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.037'
      X-Auth0-Requestid:
      - a1e8e32acc25caf3a358
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186418'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/user/namespaces?page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1c0c5d957c83692d185a3849b4a144bc/13d50e402304303b;o=0
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"metadata":{"annotations":{},"createdAt":"2021-06-24T18:04:35Z","labels":{"role":"local-development"},"modifiedAt":"2021-06-24T18:04:35Z","name":null}},"id":"richard-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/richard-staging"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-07-31T22:25:25Z","labels":{},"modifiedAt":"2020-07-31T22:25:25Z","name":null}},"id":"gauge-test","links":{"self":"https://staging-api.video.scorevision.com/namespaces/gauge-test"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-07-31T17:01:42Z","labels":{},"modifiedAt":"2020-07-31T17:01:42Z","name":null}},"id":"test-namespace-1596214901.498939","links":{"self":"https://staging-api.video.scorevision.com/namespaces/test-namespace-1596214901.498939"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-07-13T18:13:05Z","labels":{},"modifiedAt":"2020-07-13T18:13:05Z","name":"ScoreVison
        User Staging"}},"id":"sv-user-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/sv-user-staging"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-07-13T18:12:23Z","labels":{},"modifiedAt":"2020-07-13T18:12:23Z","name":"ScoreVison
        Admin Staging"}},"id":"sv-admin-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/sv-admin-staging"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-07-08T21:42:59Z","labels":{"sv-org-id":"111-123111111","sv-real-customer":"false"},"modifiedAt":"2020-07-08T21:42:59Z","name":null}},"id":"july8-test","links":{"self":"https://staging-api.video.scorevision.com/namespaces/july8-test"},"type":"namespaces"},{"attributes":{"metadata":{"annotations":{},"createdAt":"2020-06-19T01:52:58Z","labels":{"sv-org-id":"111-123","sv-real-customer":"false"},"modifiedAt":"2020-06-19T01:52:58Z","name":"Nogrady
        Casa"}},"id":"nogrady-casa","links":{"self":"https://staging-api.video.scorevision.com/namespaces/nogrady-casa"},"type":[...]
