---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.058'
      X-Auth0-Requestid:
      - 2c55a417cee33b9a1ab0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186391'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns
    body:
      encoding: UTF-8
      string: '{"data":{"type":"campaigns","attributes":{"name":"Test Campaign test-campaign-delete","slug":"test-campaign-delete"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - ac635ea29e2484937f6c1b312b2f3478/eac515767044958d;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:49.501861Z","labels":{},"modifiedAt":"2025-11-15T05:59:49.501861Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-delete","slug":"test-campaign-delete","start":null,"version":1763186389500},"id":"16656264-141e-4c94-aed6-7373b59d26d6","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:49 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns/test-campaign-delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 208dff00de749b87fc583ce24abef9c2/11bce6879a8e2a8f;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:49.792529Z","labels":{},"modifiedAt":"2025-11-15T05:59:49.792529Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-delete","slug":"test-campaign-delete","start":null,"version":1763186389791},"id":"de495190-e6ed-4b67-81b4-7ca3c3e5ba56","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:49 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns/test-campaign-delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 43d050feb7ad3d249feb7ef70499f76e/96929a1350b9e61c;o=0
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}],"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:49 GMT
recorded_with: VCR 6.3.1
