---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.048'
      X-Auth0-Requestid:
      - c02d474cd988879a95dd
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186437'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets
    body:
      encoding: UTF-8
      string: '{"data":{"type":"SimulcastTargets","attributes":{"metadata":{"labels":{"platform":"youtube","event":"test-stream"}},"url":"rtmp://test.example.com/live/test-stream"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - c5529384c08443dd24b380a266ce2730/01d8e373e6be8f92;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:36Z","labels":{"event":"test-stream","platform":"youtube"},"modifiedAt":"2025-11-15T06:00:36Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"e16b12d9-89ca-40e4-91a6-849c0627e446","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/e16b12d9-89ca-40e4-91a6-849c0627e446"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:36 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/e16b12d9-89ca-40e4-91a6-849c0627e446
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9226765577259330b120b8823c7f9f87/5e2d0a6b2bd09319;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:36Z","labels":{"event":"test-stream","platform":"youtube"},"modifiedAt":"2025-11-15T06:00:36Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"e16b12d9-89ca-40e4-91a6-849c0627e446","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/e16b12d9-89ca-40e4-91a6-849c0627e446"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:36 GMT
recorded_with: VCR 6.3.1
