---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.088'
      X-Auth0-Requestid:
      - 33ce8cfe6e7f7408edf2
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186437'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets
    body:
      encoding: UTF-8
      string: '{"data":{"type":"SimulcastTargets","attributes":{"url":"rtmp://test.example.com/live/test-stream"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 109f370128c2d19baf6c7bd1b2605570/afc3e5331640461d;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:35Z","labels":{},"modifiedAt":"2025-11-15T06:00:35Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"cf47c7a5-263b-41a0-a47c-519d45fc3830","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/cf47c7a5-263b-41a0-a47c-519d45fc3830"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:35 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/cf47c7a5-263b-41a0-a47c-519d45fc3830
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1ac8fccd39b15852fb79db2016d8db88/4271e661b692ac81;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:35Z","labels":{},"modifiedAt":"2025-11-15T06:00:35Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"cf47c7a5-263b-41a0-a47c-519d45fc3830","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/cf47c7a5-263b-41a0-a47c-519d45fc3830"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:35 GMT
recorded_with: VCR 6.3.1
