---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.054'
      X-Auth0-Requestid:
      - 526a1baf6697bfd34a41
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186429'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"playlist1"}},"startedAt":"2025-11-15T06:00:26Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2f88f634d3f31bbb7d454c4b90c99495/d7cfcaa22617cec1;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:27Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:27Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:26.000000Z"},"id":"9a19267b-03c8-4c9d-8f96-dd95673f0ef5","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/9a19267b-03c8-4c9d-8f96-dd95673f0ef5"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:27 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/9a19267b-03c8-4c9d-8f96-dd95673f0ef5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 14b8bcadefd9e557f5a5bdff935d494c/3ec340affe820eb2;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:27Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:27Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:26.000000Z"},"id":"9a19267b-03c8-4c9d-8f96-dd95673f0ef5","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/9a19267b-03c8-4c9d-8f96-dd95673f0ef5"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:27 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/692a0fa5-b77a-455e-ace2-de1a85b75309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 754c0af565f39d4d77b976f2c4fbb86a/4f9a18a5ae55d13a;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:27Z","labels":{"test":"playlist2"},"modifiedAt":"2025-11-15T06:00:28Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:27.000000Z"},"id":"692a0fa5-b77a-455e-ace2-de1a85b75309","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/692a0fa5-b77a-455e-ace2-de1a85b75309"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:28 GMT
recorded_with: VCR 6.3.1
