---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.036'
      X-Auth0-Requestid:
      - acbbe9107e3e4447c08a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186441'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets
    body:
      encoding: UTF-8
      string: '{"data":{"type":"SimulcastTargets","attributes":{"metadata":{"labels":{"test":"list"}},"url":"rtmp://test.example.com/live/test-stream"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - c381e928c295a012301b2d5df3413d36/9155bc8100943ec1;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:40Z","labels":{"test":"list"},"modifiedAt":"2025-11-15T06:00:40Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"46ccfd08-1cb8-4e84-935e-8c642197315a","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/46ccfd08-1cb8-4e84-935e-8c642197315a"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:40 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets?page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 76c6e6ed97867a4fe618e1[...]
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/46ccfd08-1cb8-4e84-935e-8c642197315a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - c4139fc16b135578739f70d63ba02869/16bef94f5433e2b2;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:40Z","labels":{"test":"list"},"modifiedAt":"2025-11-15T06:00:40Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"46ccfd08-1cb8-4e84-935e-8c642197315a","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/46ccfd08-1cb8-4e84-935e-8c642197315a"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:40 GMT
recorded_with: VCR 6.3.1
