---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.048'
      X-Auth0-Requestid:
      - cf799cd439f3c8cb96d4
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186392'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns
    body:
      encoding: UTF-8
      string: '{"data":{"type":"campaigns","attributes":{"name":"Test Campaign test-campaign-relationships","slug":"test-campaign-relationships"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d4a7c15f32a71d984a0951240d552bd6/4141698536db98d7;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:51.206069Z","labels":{},"modifiedAt":"2025-11-15T05:59:51.206069Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-relationships","slug":"test-campaign-relationships","start":null,"version":1763186391204},"id":"600e5fc3-7798-42ea-a912-5c655de7d44e","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:51 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 241a5aa27656ab22dec9aaffb913be28/0c05bb552a7420bc;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2019-08-13T05:00:34Z","labels":{},"modifiedAt":"2019-08-13T05:00:34Z","name":null}},"id":"zach-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging"},"type":"namespaces"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:51 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns/test-campaign-relationships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - f4685a680bc161629658f18bef28fb96/181c1a6d6f4e2bda;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:51.839535Z","labels":{},"modifiedAt":"2025-11-15T05:59:51.839535Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-relationships","slug":"test-campaign-relationships","start":null,"version":1763186391838},"id":"67e09ced-479b-4445-9d80-def17aef5d30","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:51 GMT
recorded_with: VCR 6.3.1
