---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.049'
      X-Auth0-Requestid:
      - 123e7be1ac5e815d7bfe
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186387'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns
    body:
      encoding: UTF-8
      string: '{"data":{"type":"campaigns","attributes":{"name":"Test Campaign test-campaign-update","slug":"test-campaign-update"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6c3b0d75f9cd51e744a5e27fadc4d352/394c9b2981d24534;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:46.002076Z","labels":{},"modifiedAt":"2025-11-15T05:59:46.002076Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-update","slug":"test-campaign-update","start":null,"version":1763186386000},"id":"00be8a86-b360-4c5f-8068-f5be4bbd8245","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:46 GMT
- request:
    method: patch
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns/test-campaign-update
    body:
      encoding: UTF-8
      string: '{"data":[{"op":"add","path":"/metadata/labels/status","value":"updated-status"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9f8bb6abfaa1e16fb86165061b456b45/77196c5200cf2447;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:46.355557Z","labels":{"status":"updated-status"},"modifiedAt":"2025-11-15T05:59:46.355557Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-update","slug":"test-campaign-update","start":null,"version":1763186386354},"id":"51905000-5ac9-4c9b-a0e2-a6e6a7b3486e","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:46 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/campaigns/test-campaign-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 0213d65525838bb54dc00e074c44db50/de8fc95755c70444;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"end":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:46.869334Z","labels":{"status":"updated-status"},"modifiedAt":"2025-11-15T05:59:46.869334Z","name":null,"namespace":"zach-staging"},"name":"Test
        Campaign test-campaign-update","slug":"test-campaign-update","start":null,"version":1763186386868},"id":"66b1b56b-1f71-4a3e-9eec-c83dfcce68fb","relationships":{"postroll":{"data":null},"preroll":{"data":null}},"type":"campaigns"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:46 GMT
recorded_with: VCR 6.3.1
