---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.069'
      X-Auth0-Requestid:
      - 38180a2ea89dc4b8769f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186420'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d5b36ae74c4fa6a6438b168a95f0bb1f/194e27e042d18245;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2019-08-13T05:00:34Z","labels":{},"modifiedAt":"2019-08-13T05:00:34Z","name":null}},"id":"zach-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging"},"type":"namespaces"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:19 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos?page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - ae20bd366f791201857591229e8726bd/151d554d0d5a1904;o=0
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"duration":6000,"location":null,"metadata":{"annotations":{"scorevision.com/command":"clip","scorevision.com/command_source":"a02e3d1c-488f-4455-b1d9-e207b2999b56"},"createdAt":"2025-11-06T17:59:06Z","labels":{"purpose":"manual-testing"},"modifiedAt":"2025-11-06T17:59:06Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.m3u8","mp4":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.mp4","thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.jpg"},"playbackStart":0,"playbackStop":6000,"renditions":[{"url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/mp4/h264_main_720p_3500.mp4"}],"source":{"thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.jpg","url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/source.mp4"},"startedAt":"2021-05-07T20:58:31.915708Z"},"id":"8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f"},"type":"videos"},{"attributes":{"duration":10000,"location":null,"metadata":{"annotations":{},"createdAt":"2021-05-20T19:57:00Z","labels":{"event-id":"12345","tags":["big
        play","touchdown"]},"modifiedAt":"2025-11-06T17:50:03Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.m3u8","mp4":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.mp4","thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.jpg"},"playbackStart":null,"playbackStop":null,"renditions":[{"url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/mp4/h264_main_720p_3500.mp4"}],"source":{"thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.jpg","url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/source.mp4"},"startedAt":"2021-05-07T20:58:31.915708Z"},"id":"a02e3d1c-488f-4455-b1d9-e207b2999b56","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56"},"type":"videos"}],"jsonapi":{"version":"1.0"},"links":{}}'
  recorded_at: Sat, 15 Nov 2025 06:00:19 GMT
recorded_with: VCR 6.3.1
