---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.036'
      X-Auth0-Requestid:
      - 928b02396b9facee5893
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186461'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"startedAt":"2025-01-15T10:00:00Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d61187c0a26e9b642e0026ec6bb6a9f8/530b4f4612dd492f;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:00Z","labels":{},"modifiedAt":"2025-11-15T06:01:00Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"a39f635b-d4f1-47b3-88bd-d694a32ddeab","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a39f635b-d4f1-47b3-88bd-d694a32ddeab"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:00 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a39f635b-d4f1-47b3-88bd-d694a32ddeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d00aab6175759832411f878bf5770e98/b0d0338d78068cdd;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:00Z","labels":{},"modifiedAt":"2025-11-15T06:01:00Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"a39f635b-d4f1-47b3-88bd-d694a32ddeab","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a39f635b-d4f1-47b3-88bd-d694a32ddeab"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:00 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a39f635b-d4f1-47b3-88bd-d694a32ddeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - cdb32f7a61279ac92495a7389bebedeb/18ef9fa50efdf501;o=0
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}],"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:00 GMT
recorded_with: VCR 6.3.1
