---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.055'
      X-Auth0-Requestid:
      - fcef2b535390d92f8ccb
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186422'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"playlist1"}},"startedAt":"2025-11-15T06:00:20Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 34cb19eb425cf4d2c5c018b3ef20251e/57844a7e6432d1c0;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:20Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:20Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:20.000000Z"},"id":"67bea127-f192-47dc-875d-f491489bb66a","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/67bea127-f192-47dc-875d-f491489bb66a"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:20 GMT
[...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists
    body:
      encoding: UTF-8
      string: '{"data":{"type":"playlists","attributes":{"metadata":{},"videos":["67bea127-f192-47dc-875d-f491489bb66a","12eebc1f-5730-4eb2-8a84-f0107a20b52a"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - a1ebe9ae70b38767da03e4637a5ba851/0f38d49cdb387ebf;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:21.481604Z","labels":{},"modifiedAt":"2025-11-15T06:00:21.481604Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/8fe7be58-28e1-4503-b4e8-c2a84cef814c.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/8fe7be58-28e1-4503-b4e8-c2a84cef814c.m3u8"},"version":1763186421480,"videos":["67bea127-f192-47dc-875d-f491489bb66a","12eebc1f-5730-4eb2-8a84-f0107a20b52a"]},"id":"8fe7be58-28e1-4503-b4e8-c2a84cef814c","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:21 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/67bea127-f192-47dc-875d-f491489bb66a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 230415884e9f6c74656588d748d43f70/b081330bff8edc62;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:20Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:21Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:20.000000Z"},"id":"67bea127-f192-47dc-875d-f491489bb66a","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/67bea127-f192-47dc-875d-f491489bb66a"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:21 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/12eebc1f-5730-4eb2-8a84-f0107a20b52a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9f6926b912fa84b2f590b24289e76911/828631d9725eee05;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:21Z","labels":{"test":"playlist2"},"modifiedAt":"2025-11-15T06:00:21Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:20.000000Z"},"id":"12eebc1f-5730-4eb2-8a84-f0107a20b52a","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/12eebc1f-5730-4eb2-8a84-f0107a20b52a"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:21 GMT
recorded_with: VCR 6.3.1
