---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.049'
      X-Auth0-Requestid:
      - df7fd6f2a95acd54a778
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186433'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"playlist1"}},"startedAt":"2025-11-15T06:00:31Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1083bcb32c33be4cb2ba640aafe93e11/ec478f949882049b;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:31Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:31Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:31.000000Z"},"id":"4ef52ea0-0ec7-4655-a376-21ca071611c6","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/4ef52ea0-0ec7-4655-a376-21ca071611c6"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:31 GMT
[...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists
    body:
      encoding: UTF-8
      string: '{"data":{"type":"playlists","attributes":{"metadata":{},"videos":["4ef52ea0-0ec7-4655-a376-21ca071611c6","5ca76922-a2d1-4058-99a4-5dcc559c7cfb"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - e5132693f8be12803e46ff1974247552/03d83e16ea983d3f;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:32.507057Z","labels":{},"modifiedAt":"2025-11-15T06:00:32.507057Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/f51195a6-e48c-44bb-881f-89a673288f6a.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/f51195a6-e48c-44bb-881f-89a673288f6a.m3u8"},"version":1763186432505,"videos":["4ef52ea0-0ec7-4655-a376-21ca071611c6","5ca76922-a2d1-4058-99a4-5dcc559c7cfb"]},"id":"f51195a6-e48c-44bb-881f-89a673288f6a","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:32 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 0bf591502d68d607b9baeff771156c17/0ca9c6fce2eca250;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2019-08-13T05:00:34Z","labels":{},"modifiedAt":"2019-08-13T05:00:34Z","name":null}},"id":"zach-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging"},"type":"namespaces"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:32 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/4ef52ea0-0ec7-4655-a376-21ca071611c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 5aa3c484697e11794e896aa09da76d48/45b67d2ad643a8d6;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:31Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:33Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:31.000000Z"},"id":"4ef52ea0-0ec7-4655-a376-21ca071611c6","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/4ef52ea0-0ec7-4655-a376-21ca071611c6"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:32 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/5ca76922-a2d1-4058-99a4-5dcc559c7cfb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6703750025cfb50245e5fa307dfff6ba/b869f48391cd288e;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:32Z","labels":{"test":"playlist2"},"modifiedAt":"2025-11-15T06:00:33Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:31.000000Z"},"id":"5ca76922-a2d1-4058-99a4-5dcc559c7cfb","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/5ca76922-a2d1-4058-99a4-5dcc559c7cfb"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:33 GMT
recorded_with: VCR 6.3.1
