---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.034'
      X-Auth0-Requestid:
      - 71a29e50ce2206030158
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186425'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"playlist1"}},"startedAt":"2025-11-15T06:00:23Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 8dbd0d8f937dfb3cc9b559b2e2132ca3/7b7f0d7e2ffc94b2;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:24Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:24Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:23.000000Z"},"id":"66aa4bd7-263c-4e42-8031-62a46f10d9e3","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/66aa4bd7-263c-4e42-8031-62a46f10d9e3"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:24 GMT
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists
    body:
      encoding: UTF-8
      string: '{"data":{"type":"playlists","attributes":{"metadata":{},"videos":["66aa4bd7-263c-4e42-8031-62a46f10d9e3"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7687e8462eede80acecd46327a46015f/079322c077f90e2a;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:24.374928Z","labels":{},"modifiedAt":"2025-11-15T06:00:24.374928Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594.m3u8"},"version":1763186424372,"videos":["66aa4bd7-263c-4e42-8031-62a46f10d9e3"]},"id":"e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:24 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/playlists/e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 158492dce26070c3cfe4965d000c3252/907e7e9e77d43e0c;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:24.374928Z","labels":{},"modifiedAt":"2025-11-15T06:00:24.374928Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/playlists/e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594.m3u8"},"version":1763186424372,"videos":["66aa4bd7-263c-4e42-8031-62a46f10d9e3"]},"id":"e6e79b4d-edbe-4f32-bfd9-b5a62f6cf594","type":"playlists"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:24 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/66aa4bd7-263c-4e42-8031-62a46f10d9e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 6ce790a4a7c7796a8c81154fb546cee7/3ead25a19fa64f7f;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:24Z","labels":{"test":"playlist1"},"modifiedAt":"2025-11-15T06:00:24Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:23.000000Z"},"id":"66aa4bd7-263c-4e42-8031-62a46f10d9e3","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/66aa4bd7-263c-4e42-8031-62a46f10d9e3"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:24 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d1c4811b-0ad5-4ecf-b165-2c534f542447
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2f6c82ee270d2667fc41d98552e57aee/e27c79ae9e009915;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:25Z","labels":{"test":"playlist2"},"modifiedAt":"2025-11-15T06:00:25Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-11-15T06:00:24.000000Z"},"id":"d1c4811b-0ad5-4ecf-b165-2c534f542447","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d1c4811b-0ad5-4ecf-b165-2c534f542447"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:25 GMT
recorded_with: VCR 6.3.1
