---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.090'
      X-Auth0-Requestid:
      - 68a34d9ee771b048df60
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186455'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"metadata":{"labels":{"test":"list"}},"startedAt":"2025-01-15T10:00:00Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - e9952255de5dd8d15c52f4fb67b417d2/a568e8b6e1f98798;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:53Z","labels":{"test":"list"},"modifiedAt":"2025-11-15T06:00:53Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"57a801d9-8ce9-459a-a197-ecbf15137876","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/57a801d9-8ce9-459a-a197-ecbf15137876"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:53 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos?page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 0e09e81d3876fee75669f3ff0143af6b/2be72928dbf10756;o=0
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:53Z","labels":{"test":"list"},"modifiedAt":"2025-11-15T06:00:53Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":[],"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"57a801d9-8ce9-459a-a197-ecbf15137876","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/57a801d9-8ce9-459a-a197-ecbf15137876"},"type":"videos"},{"attributes":{"duration":6000,"location":null,"metadata":{"annotations":{"scorevision.com/command":"clip","scorevision.com/command_source":"a02e3d1c-488f-4455-b1d9-e207b2999b56"},"createdAt":"2025-11-06T17:59:06Z","labels":{"purpose":"manual-testing"},"modifiedAt":"2025-11-06T17:59:06Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.m3u8","mp4":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.mp4","thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.jpg"},"playbackStart":0,"playbackStop":6000,"renditions":[{"url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/mp4/h264_main_720p_3500.mp4"}],"source":{"thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f.jpg","url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/source.mp4"},"startedAt":"2021-05-07T20:58:31.915708Z"},"id":"8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/8a6c00e3-13fa-44ef-91e2-3ebb9ad4a89f"},"type":"videos"},{"attributes":{"duration":10000,"location":null,"metadata":{"annotations":{},"createdAt":"2021-05-20T19:57:00Z","labels":{"event-id":"12345","tags":["big
        play","touchdown"]},"modifiedAt":"2025-11-06T17:50:03Z","name":null,"namespace":"zach-staging"},"playback":{"dash":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.mpd","hls":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.m3u8","mp4":"https://staging-content.video.scorevision.com/playback/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.mp4","thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.jpg"},"playbackStart":null,"playbackStop":null,"renditions":[{"url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/mp4/h264_main_720p_3500.mp4"}],"source":{"thumbnail":"https://staging-content.video.scorevision.com/thumbnail/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56.jpg","url":"https://staging-content.video.scorevision.com/storage/us/zach-staging/a02e3d1c-488f-4455-b1d9-e207b2999b56/source.mp4"},"startedAt":"2021-05-07T20:58:31.915708Z"},"id":"a02e3d1c-488f-4455-b1d9-e207b2999b56","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/a02e3d1c-488f-4455-b1d9-e207b2999b56"},"type":"videos"}],"jsonapi":{"version":"1.0"},"links":{}}'
  recorded_at: Sat, 15 Nov 2025 06:00:53 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/57a801d9-8ce9-459a-a197-ecbf15137876
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 96e2aa1cfe7c8f9bb2e6e3f90f313e8f/d5a6ed154cfd3bf6;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:53Z","labels":{"test":"list"},"modifiedAt":"2025-11-15T06:00:54Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"57a801d9-8ce9-459a-a197-ecbf15137876","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/57a801d9-8ce9-459a-a197-ecbf15137876"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:54 GMT
recorded_with: VCR 6.3.1
