---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.058'
      X-Auth0-Requestid:
      - 3f2cfa03173479e5a912
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186402'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams
    body:
      encoding: UTF-8
      string: '{"data":{"type":"LiveStreams","attributes":{}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - e6b01467bfd8a7d2df4f3f4fb8c63e83/91798d5ddcba9138;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:00Z","labels":{},"modifiedAt":"2025-11-15T06:00:00Z","name":null,"namespace":"zach-staging"},"playbackUrls":{"dash":"https://staging-egress.video.scorevision.com/dash/live/0eef98d7-e428-46e0-8f59-f92ef99855b6.mpd","hls":"https://staging-egress.video.scorevision.com/hls/live/0eef98d7-e428-46e0-8f59-f92ef99855b6.m3u8","rtmp":"rtmp://staging-egress.video.scorevision.com/live/0eef98d7-e428-46e0-8f59-f92ef99855b6"},"simulcastTargets":[],"startedAt":null,"streamStatus":"idle","streamUrls":{"rtmp":"rtmp://staging-ingress.video.scorevision.com/live/0eef98d7-e428-46e0-8f59-f92ef99855b6"}},"id":"0eef98d7-e428-46e0-8f59-f92ef99855b6","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/0eef98d7-e428-46e0-8f59-f92ef99855b6"},"type":"liveStreams"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:00 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/0eef98d7-e428-46e0-8f59-f92ef99855b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 55393[...]
