---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.055'
      X-Auth0-Requestid:
      - 3ba4f036c78c4b32f938
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186400'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams
    body:
      encoding: UTF-8
      string: '{"data":{"type":"LiveStreams","attributes":{}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - ef20df40546ecf2a715d3c0480c3fab7/8dc6a1757fddbe07;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:59Z","labels":{},"modifiedAt":"2025-11-15T05:59:59Z","name":null,"namespace":"zach-staging"},"playbackUrls":{"dash":"https://staging-egress.video.scorevision.com/dash/live/12b24aaa-f937-415b-ab17-e5ad021ac62d.mpd","hls":"https://staging-egress.video.scorevision.com/hls/live/12b24aaa-f937-415b-ab17-e5ad021ac62d.m3u8","rtmp":"rtmp://staging-egress.video.scorevision.com/live/12b24aaa-f937-415b-ab17-e5ad021ac62d"},"simulcastTargets":[],"startedAt":null,"streamStatus":"idle","streamUrls":{"rtmp":"rtmp://staging-ingress.video.scorevision.com/live/12b24aaa-f937-415b-ab17-e5ad021ac62d"}},"id":"12b24aaa-f937-415b-ab17-e5ad021ac62d","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/12b24aaa-f937-415b-ab17-e5ad021ac62d"},"type":"liveStreams"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:59 GMT
- request:
    method: patch
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/12b24aaa-f937-415b-ab17-e5ad021ac62d
    body:
      encoding: UTF-8
      string: '{"data":[{"op":"add","path":"/metadata/labels/status","value":"updated-status"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 989611d55db7d1d9637f1dc573d76e61/054c88b5df2c6485;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:59Z","labels":{"status":"updated-status"},"modifiedAt":"2025-11-15T05:59:59Z","name":null,"namespace":"zach-staging"},"playbackUrls":{"dash":"https://staging-egress.video.scorevision.com/dash/live/12b24aaa-f937-415b-ab17-e5ad021ac62d.mpd","hls":"https://staging-egress.video.scorevision.com/hls/live/12b24aaa-f937-415b-ab17-e5ad021ac62d.m3u8","rtmp":"rtmp://staging-egress.video.scorevision.com/live/12b24aaa-f937-415b-ab17-e5ad021ac62d"},"simulcastTargets":[],"startedAt":null,"streamStatus":"idle","streamUrls":{"rtmp":"rtmp://staging-ingress.video.scorevision.com/live/12b24aaa-f937-415b-ab17-e5ad021ac62d"}},"id":"12b24aaa-f937-415b-ab17-e5ad021ac62d","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/12b24aaa-f937-415b-ab17-e5ad021ac62d"},"type":"liveStreams"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:59 GMT
[...]
