---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.057'
      X-Auth0-Requestid:
      - fdb0b70619ec2b204e6d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186451'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"videos","attributes":{"startedAt":"2025-01-15T10:00:00Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - a84f4a1301750f5c708acd674dff658c/87b462aba8ef118d;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:50Z","labels":{},"modifiedAt":"2025-11-15T06:00:50Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"d2278537-b763-4f33-b9aa-57ec0af99645","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d2278537-b763-4f33-b9aa-57ec0af99645"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:50 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d2278537-b763-4f33-b9aa-57ec0af99645
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - fcaffc10ce8454f5d78c6ac776b24ef3/7fda953047485ac9;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:50Z","labels":{},"modifiedAt":"2025-11-15T06:00:50Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":[],"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"d2278537-b763-4f33-b9aa-57ec0af99645","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d2278537-b763-4f33-b9aa-57ec0af99645"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:50 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d2278537-b763-4f33-b9aa-57ec0af99645
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - a4b2cd7a32a9500c59589910407f1e79/36a678e27bc662fb;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"duration":null,"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:50Z","labels":{},"modifiedAt":"2025-11-15T06:00:50Z","name":null,"namespace":"zach-staging"},"playback":null,"playbackStart":null,"playbackStop":null,"renditions":null,"source":null,"startedAt":"2025-01-15T10:00:00.000000Z"},"id":"d2278537-b763-4f33-b9aa-57ec0af99645","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/videos/d2278537-b763-4f33-b9aa-57ec0af99645"},"type":"videos"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:50 GMT
recorded_with: VCR 6.3.1
