---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.091'
      X-Auth0-Requestid:
      - aa6291d8a57ed9ff711b
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186468'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","attributes":{"metadata":{"labels":{"environment":"test","service":"notifications"}},"url":"https://webhook.example.com/events/test-webhook","actions":["video.ready","video.deleted"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9416de74087627c49a62fec480c46297/6f4affba84005746;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:07Z","labels":{"environment":"test","service":"notifications"},"modifiedAt":"2025-11-15T06:01:07Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"4d140c28-bc92-4a16-8750-10dfcc00202a","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:07 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks/4d140c28-bc92-4a16-8750-10dfcc00202a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - e228a7e70bef6e8df48f6453e534e530/ff41c0f961c75b44;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:07Z","labels":{"environment":"test","service":"notifications"},"modifiedAt":"2025-11-15T06:01:07Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"4d140c28-bc92-4a16-8750-10dfcc00202a","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:07 GMT
recorded_with: VCR 6.3.1
