---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.019'
      X-Auth0-Requestid:
      - 07e5bc730d47317315d6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186414'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams
    body:
      encoding: UTF-8
      string: '{"data":{"type":"LiveStreams","attributes":{}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7a867f1de494cc74dd7bae3b12b0de4b/89fdb9bf52fc6cf2;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:13Z","labels":{},"modifiedAt":"2025-11-15T06:00:13Z","name":null,"namespace":"zach-staging"},"playbackUrls":{"dash":"https://staging-egress.video.scorevision.com/dash/live/cfd9f316-4b72-4bca-a786-f6b9cd10d93e.mpd","hls":"https://staging-egress.video.scorevision.com/hls/live/cfd9f316-4b72-4bca-a786-f6b9cd10d93e.m3u8","rtmp":"rtmp://staging-egress.video.scorevision.com/live/cfd9f316-4b72-4bca-a786-f6b9cd10d93e"},"simulcastTargets":[],"startedAt":null,"streamStatus":"idle","streamUrls":{"rtmp":"rtmp://staging-ingress.video.scorevision.com/live/cfd9f316-4b72-4bca-a786-f6b9cd10d93e"}},"id":"cfd9f316-4b72-4bca-a786-f6b9cd10d93e","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/cfd9f316-4b72-4bca-a786-f6b9cd10d93e"},"type":"liveStreams"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:13 GMT
- request:
    method: put
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/cfd9f316-4b72-4bca-a786-f6b9cd10d93e/disable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 71e[...]
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/cfd9f316-4b72-4bca-a786-f6b9cd10d93e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 76278e01[...]
[...]
