---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.047'
      X-Auth0-Requestid:
      - 266584f35c1462e97aa4
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186476'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","attributes":{"url":"https://webhook.example.com/events/test-webhook","actions":["video.ready","video.deleted"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - b592b2212cf1438af5dd79a484e673a3/cb4f349e39b441c7;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:15Z","labels":{},"modifiedAt":"2025-11-15T06:01:15Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"a0549c44-c45f-4232-9453-9ab8640ec9fb","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:15 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks/a0549c44-c45f-4232-9453-9ab8640ec9fb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 59e664f1d10ebba85e101cd18e01f65a/cddbeb5aecccda0e;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:15Z","labels":{},"modifiedAt":"2025-11-15T06:01:15Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"a0549c44-c45f-4232-9453-9ab8640ec9fb","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:15 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks/a0549c44-c45f-4232-9453-9ab8640ec9fb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d77db5c7c974b36f8d13fd8544a53184/32db7153174d8c1e;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:15Z","labels":{},"modifiedAt":"2025-11-15T06:01:15Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"a0549c44-c45f-4232-9453-9ab8640ec9fb","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:15 GMT
recorded_with: VCR 6.3.1
