---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.054'
      X-Auth0-Requestid:
      - aa99e9f97997b847d8c7
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186394'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams
    body:
      encoding: UTF-8
      string: '{"data":{"type":"LiveStreams","attributes":{}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 220b0a1e7c8f9d3c3e91541e71fe274c/75bb2881f6e3eb22;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":null,"metadata":{"annotations":{},"createdAt":"2025-11-15T05:59:53Z","labels":{},"modifiedAt":"2025-11-15T05:59:53Z","name":null,"namespace":"zach-staging"},"playbackUrls":{"dash":"https://staging-egress.video.scorevision.com/dash/live/a47d9634-1763-4aa5-b780-3c8e845ec2e0.mpd","hls":"https://staging-egress.video.scorevision.com/hls/live/a47d9634-1763-4aa5-b780-3c8e845ec2e0.m3u8","rtmp":"rtmp://staging-egress.video.scorevision.com/live/a47d9634-1763-4aa5-b780-3c8e845ec2e0"},"simulcastTargets":[],"startedAt":null,"streamStatus":"idle","streamUrls":{"rtmp":"rtmp://staging-ingress.video.scorevision.com/live/a47d9634-1763-4aa5-b780-3c8e845ec2e0"}},"id":"a47d9634-1763-4aa5-b780-3c8e845ec2e0","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/a47d9634-1763-4aa5-b780-3c8e845ec2e0"},"type":"liveStreams"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 05:59:53 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/livestreams/a47d9634-1763-4aa5-b780-3c8e845ec2e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3b69b[...]
