---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.076'
      X-Auth0-Requestid:
      - accf806f28d8d4d1db9e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186471'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks/non-existent-webhook-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 801d38d45bbe38244fab6700ddf3a01c/19378b21b7573cf4;o=0
    body:
      encoding: UTF-8
      string: '{"errors":[{"detail":"Video id must be UUID"}],"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:09 GMT
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","attributes":{"url":"https://webhook.example.com/events/test-webhook","actions":["video.ready","video.deleted"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - be68f1ec5b8ea7eb2048493a0a0686fa/cfd706448fa4def0;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:10Z","labels":{},"modifiedAt":"2025-11-15T06:01:10Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"d51a9d80-063d-4368-867d-59208a892dce","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:10 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/webhooks/d51a9d80-063d-4368-867d-59208a892dce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7fbb507020f24b643866683a55643279/6b318d8426cdcf08;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":["video.ready","video.deleted"],"metadata":{"annotations":{},"createdAt":"2025-11-15T06:01:10Z","labels":{},"modifiedAt":"2025-11-15T06:01:10Z","name":null,"namespace":"zach-staging"},"url":"https://webhook.example.com/events/test-webhook"},"id":"d51a9d80-063d-4368-867d-59208a892dce","type":"webhooks"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:01:10 GMT
recorded_with: VCR 6.3.1
