---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.034'
      X-Auth0-Requestid:
      - 80b19a8da8b92f6354a5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1763186438'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets
    body:
      encoding: UTF-8
      string: '{"data":{"type":"SimulcastTargets","attributes":{"url":"rtmp://test.example.com/live/test-stream"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3c91f981ea224cec6cb4d1d525a50e62/8ccca24c0209345a;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:36Z","labels":{},"modifiedAt":"2025-11-15T06:00:36Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"4b4d5922-c926-4ac2-8211-9b470c0dcf28","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/4b4d5922-c926-4ac2-8211-9b470c0dcf28"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:36 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/4b4d5922-c926-4ac2-8211-9b470c0dcf28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - af7542a823f1b384a567e2b1139529f5/311dbd7806cc4670;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:36Z","labels":{},"modifiedAt":"2025-11-15T06:00:36Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"4b4d5922-c926-4ac2-8211-9b470c0dcf28","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/4b4d5922-c926-4ac2-8211-9b470c0dcf28"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:37 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/4b4d5922-c926-4ac2-8211-9b470c0dcf28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - d01362560b9669a79d4f5c61296be8ff/3d9a04982a1e0fb9;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:36Z","labels":{},"modifiedAt":"2025-11-15T06:00:36Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"4b4d5922-c926-4ac2-8211-9b470c0dcf28","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/4b4d5922-c926-4ac2-8211-9b470c0dcf28"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:37 GMT
recorded_with: VCR 6.3.1
