---
http_interactions:
- request:
    method: post
    uri: https://fantagio-staging.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<PUG_CLIENT_ID>","client_secret":"<PUG_CLIENT_SECRET>","audience":"https://staging-api.fantag.io/","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Auth0-L:
      - '0.056'
      X-Auth0-Requestid:
      - 1e6f8b2ed89875dc4a93
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1763186447'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"https://api.fantag.io/namespaces/fantag-capture-app-staging/videos
        https://api.fantag.io/namespaces/zach-staging/videos https://api.fantag.io/namespaces/zach-loadtest/videos
        namespaces:fantag-capture-app-staging:videos:* namespaces:fantag-capture-app-staging:campaigns:*
        namespaces:scott-staging:campaigns:* namespaces:scott-staging:videos:* namespaces:zach-staging:videos:*
        namespaces:zach-staging:campaigns:* namespaces:test-namespace:videos:* namespaces:test-namespace:campaigns:*
        system:namespaces:* system:clients:* system:videos:* system:campaigns:* namespaces:dan-staging:campaigns:*
        system:webhooks:* namespaces:jwn-jwn:videos:* namespaces:jwn-jwn:campaigns:*
        namespaces:nogrady-casa:videos:* namespaces:nogrady-casa:campaigns:* namespaces:july8-test:videos:*
        namespaces:july8-test:campaigns:* namespaces:sv-admin-staging:videos:* namespaces:sv-admin-staging:campaigns:*
        namespaces:sv-user-staging:videos:* namespaces:sv-user-staging:campaigns:*
     [...]
- request:
    method: post
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets
    body:
      encoding: UTF-8
      string: '{"data":{"type":"SimulcastTargets","attributes":{"url":"rtmp://test.example.com/live/test-stream"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - cf52afee07c7889b0179241a8f2f471a/c27aa49a2dfe712f;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:46Z","labels":{},"modifiedAt":"2025-11-15T06:00:46Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"01dcff2f-8c28-467f-8b26-18f3e00f32c8","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/01dcff2f-8c28-467f-8b26-18f3e00f32c8"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:46 GMT
- request:
    method: get
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2858062a03509e5a84ec7c357aa52c81/eb942d2868478d97;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2019-08-13T05:00:34Z","labels":{},"modifiedAt":"2019-08-13T05:00:34Z","name":null}},"id":"zach-staging","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging"},"type":"namespaces"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:46 GMT
- request:
    method: delete
    uri: https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/01dcff2f-8c28-467f-8b26-18f3e00f32c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Cloud-Trace-Context:
      - e2adf6f8c1a4d0c36bcb8a5b6949738a/cc0fc6ee33bce903;o=0
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metadata":{"annotations":{},"createdAt":"2025-11-15T06:00:46Z","labels":{},"modifiedAt":"2025-11-15T06:00:46Z","name":null,"namespace":"zach-staging"},"url":"rtmp://test.example.com/live/test-stream"},"id":"01dcff2f-8c28-467f-8b26-18f3e00f32c8","links":{"self":"https://staging-api.video.scorevision.com/namespaces/zach-staging/simulcasttargets/01dcff2f-8c28-467f-8b26-18f3e00f32c8"},"type":"simulcastTargets"},"jsonapi":{"version":"1.0"}}'
  recorded_at: Sat, 15 Nov 2025 06:00:47 GMT
recorded_with: VCR 6.3.1
